<div class="eqLogic-widget eqLogic allowResize YamahaMusiccast" data-category="multimedia"
	 style="width: 250px;height: 340px;padding : 0px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;"
	 data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
	<link rel="stylesheet" href="plugins/YamahaMusiccast/core/template/css/style.css"/>
	<center class="widget-name">
		<a class="btn cmd power pull-left" data-cmd_id="#power_action_id#" onclick="jeedom.cmd.execute({id: #power_action_id#});">
			<i class="fa fa-power-off power"></i>
		</a>
		<span class="cmd cmd-status pull-right" style="width : 30px;z-index: 1030;"></span>
		<a href="#eqLink#" style="#hideEqLogicName#">#name_display#</a>
	</center>
	<div>
		<div class="panelBox sound_config" style="display: none;">
		<a class="cmd pull-right" onclick="$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .sound_config').css('display', 'none');">
			<i class="fa fa-times"></i>
		</a>
			<h3>Réglages Audio</h3>
			<h4>Son</h4>
			<select onchange="jeedom.cmd.execute({id: '#sound_program_change_id#', value: {program: this.value}});">#sound_program_change_select#</select>
			<h4>Égalisseur</h4>
			<h4>Veille</h4>
			<h4>Information</h4>
			<h4>Bluetooth</h4>
			#link_audio_quality_state#<br/>
			#link_audio_delay_state#<br/>
			#link_control_state#<br/>
			#audio_error#<br/>
			#netusb_play_queue_type#<br/>
		</div>
		<div class="panelBox playlist">
			<div class="one-line-defile">#netusb_track#</div>
			<div class="one-line-defile artiste-album">#netusb_artist# - #netusb_album#</div>
			<div class="visual">
				<img class="pochette" src="#netusb_albumart_url#?#netusb_albumart_id#"/>
				<img class="pochette_input" src="plugins/YamahaMusiccast/ressources/input/#input#.png"/>
				<span class="audio_format">#audio_format# - #audio_fs#</span>
			</div>
			<nav class="nav nav_sound">
				<a class="btn cmd" data-cmd_id="#mute_action_id#" onclick="jeedom.cmd.execute({id: #mute_action_id#});" title="Mute">
					<i class="icon jeedomapp-audiomute"></i>
				</a>
				<input class="volume_range btn" type="range" min="0" max="#max_volume#" value="#volume_state#" step="1" onchange="jeedom.cmd.execute({id: '#volume_change_id#', value: {volume: this.value}});"/>
				<a class="btn cmd" title="Réglage audio" style="float: right;" onclick="$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .sound_config').css('display', 'block');">
					<i class="fas fa-sliders-h"></i>
				</a>
			</nav>
			<nav class="nav nav_playlist">
				<a class="btn cmd action_playlist" data-cmd_id="#netusb_shuffle_id#" onclick="jeedom.cmd.execute({id: #netusb_shuffle_id#});" title="Aléatoire" style="float: right;">
					<i class="fa fa-random shuffle"></i>
				</a>
				<a class="btn cmd action_playlist" data-cmd_id="#netusb_repeat_id#" onclick="jeedom.cmd.execute({id: #netusb_repeat_id#});" title="Répéter">
					<i class="fa fa-sync repeat"></i>
				</a>
				<a class="btn cmd action_list" data-cmd_id="#netusb_playback_previous_id#" onClick="jeedom.cmd.execute({id: #netusb_playback_previous_id#});" title="Précédent" style="float: none;">
					#netusb_playback_previous_icon#
				</a>
				<a class="btn cmd play" data-cmd_id="#netusb_playback_play_pause_id#" onclick="jeedom.cmd.execute({id: #netusb_playback_play_pause_id#});" title="Lecture" style="float: none;">
					#netusb_playback_play_icon#
				</a>
				<a class="btn cmd pause" data-cmd_id="#netusb_playback_play_pause_id#" onclick="jeedom.cmd.execute({id: #netusb_playback_play_pause_id#});" title="Pause" style="float: none;">
					#netusb_playback_pause_icon#
				</a>
				<a class="btn cmd stop" data-cmd_id="#netusb_playback_stop_id#" onclick="jeedom.cmd.execute({id: #netusb_playback_stop_id#});" title="Stop" style="float: none;">
					#netusb_playback_stop_icon#
				</a>
				<a class="btn cmd action_list" data-cmd_id="#netusb_playback_next_id#" onClick="jeedom.cmd.execute({id: #netusb_playback_next_id#});" title="Suivant" style="float: none;">
					#netusb_playback_next_icon#
				</a>
			</nav>
		</div>
		<div class="panelBox displayoff">
			<ul>
				<li><a title="playlist#id#[i]" data-name="playlist#id#[i]'"><i class="fa fa-play"></i> ' + playlist#id#[i] + '</a></li>
			</ul>
		</div>
	</div>
	<script>
		if ('#power_state#' == 'on') {
		$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .power').click(function() {jeedom.cmd.execute({id: #power_off_id#})});
		$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .playlist').css('display', 'block');
		$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .displayoff').css('display', 'none');
		} else {
		$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .power').click(function() {jeedom.cmd.execute({id: #power_on_id#})});
		$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .playlist').css('display', 'none');
		$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .displayoff').css('display', 'block');
		}
	</script>
</div>