<div class="eqLogic-widget eqLogic noResize YamahaMusiccast" data-category="multimedia"
	 style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;"
	 data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
	<link rel="stylesheet" href="plugins/YamahaMusiccast/core/template/css/style.css"/>
	<center class="widget-name">
		<a class="cmd pull-left" data-cmd_id="#power_state_id#">
			<i class="fa fa-power-off"></i>
		</a>
		<a class="cmd pull-left unreachable" data-cmd_id="#distribution_enable_id#">
			<i class="far fa-eye-slash" style="color: red;"></i>
		</a>
		<a class="cmd pull-right nav-link cmd-link" id="pills-link-tab-#id#" data-toggle="pill" href="##id#link" role="tab" aria-controls="pills-link" aria-selected="false" onclick="linkedClic#id#();">
			<i class="fa fa-link"></i>
		</a>
		<span class="cmd cmd-status pull-right" style="width : 30px;z-index: 1030;"></span>
		<a href="#eqLink#" class="cmd group_name" data-cmd_id="#group_name_id#" style="line-height: 22.72px;">#name_display#</a>
	</center>
	<div>
		<input id="#uid#_input" name="#id#_input" type="hidden" value="">
		<input id="#uid#_play_stop" name="#id#_play_stop" type="hidden" value="">
		<div class="panelBox unreachable">
			<p>Je suis injoingnable depuis</p>
			<center>#lastCallAPI#</center>
			<p><i class="far fa-eye-slash" style="color: red;font-size:5em;"></i></p>
		</div>
		<div class="panelBox dirlist tab-content" style="display: none;"></div>
		<div class="panelBox playlist">
			<div class="tab-content">
				<div class="tab-pane panelMusic active" id="#id#pp1">
					<div class="one-line-defile">
						<strong class="cmd netusb_track" data-cmd_id="#netusb_track_id#"></strong>
						<strong class="cmd tuner_rds_radio_text_a tunerpreset" data-cmd_id="#tuner_rds_radio_text_a_id#"></strong>
						<strong class="cmd tuner_rds_radio_text_b tunerpreset" data-cmd_id="#tuner_rds_radio_text_b_id#"></strong>
					</div>
					<div class="one-line-defile artiste-album">
						<strong class="cmd netusb_artist" data-cmd_id="#netusb_artist_id#"></strong>
						<strong class="cmd netusb_album" data-cmd_id="#netusb_album_id#"></strong>
						<strong class="cmd tuner_rds_radio_text_b tunerpreset" data-cmd_id="#tuner_rds_radio_text_b_id#"></strong>
					</div>
					<div class="visual">
						<div class="divInputPochette">
							<span class="cmd" data-cmd_id="#netusb_albumart_url_id#"><img class="pochette"/></span>
							<div class ="icon_input"></div>
						</div>
						<div class="divInputIcon">
						</div>
						<div class="audio_format_box"><span class="cmd audio_format" data-cmd_id="#audio_format_id#"></span><span class="cmd audio_fs" data-cmd_id="#audio_fs_id#"></span></div>
					</div>
					<nav class="nav nav_playlist" style ="display: initial;">
						<!--a class="btn cmd cmd-widget action_playlist" data-type="action" data-cmd_id="#netusb_shuffle_id#" onclick="jeedom.cmd.execute({id: #netusb_shuffle_id#});" title="Aléatoire" style="float: right;">
							<i class="fa fa-random shuffle"></i>
						</a>
						<a class="btn cmd cmd-widget action_playlist" data-type="action" data-cmd_id="#netusb_repeat_id#" onclick="jeedom.cmd.execute({id: #netusb_repeat_id#});" title="Répéter">
							<i class="fa fa-sync repeat"></i>
						</a-->
						<a class="btn cmd cmd-widget dir_list" title="Rechercher" style="float: none;">
							<i class="fa fa-folder"></i>
						</a>
						<a class="btn cmd cmd-widget action_list" data-type="action" data-cmd_id="#netusb_playback_previous_id#" onClick="jeedom.cmd.execute({id: #netusb_playback_previous_id#});" title="Précédent" style="float: none;">
							#netusb_playback_previous_icon#
						</a>
						<a class="btn cmd cmd-widget stop" data-type="action" data-cmd_id="#netusb_playback_stop_id#" onclick="jeedom.cmd.execute({id: #netusb_playback_stop_id#});"
							title="Stop" style="float: none; display:none;">
							#netusb_playback_stop_icon#
						</a>
						<a class="btn cmd cmd-widget play play_pause" data-type="action" data-cmd_id="#netusb_playback_id#" onclick="jeedom.cmd.execute({id: #netusb_playback_play_pause_id#});"
							title="Lecture" style="float: none; display:none;">
							#netusb_playback_play_icon#
						</a>
						<a class="btn cmd cmd-widget pause play_pause" data-type="action" data-cmd_id="#netusb_playback_id#" onclick="jeedom.cmd.execute({id: #netusb_playback_play_pause_id#});"
							title="Pause" style="float: none;">
							#netusb_playback_pause_icon#
						</a>
						<a class="btn cmd cmd-widget action_list" data-type="action" data-cmd_id="#netusb_playback_next_id#" onClick="jeedom.cmd.execute({id: #netusb_playback_next_id#});" title="Suivant" style="float: none;">
							#netusb_playback_next_icon#
						</a>
					</nav>
				</div>
				<div class="tab-pane sound_config" id="#id#pp2">
					<h3 style="color: #color#;">Réglages Audio</h3>
					<h4 style="color: #color#;">Son</h4>
					#sound_program_change_html#
					#surr_decoder_type_list_html#
					<h4 style="color: #color#;">Égaliseur</h4>
					#equalizer_low_change_html#
					#equalizer_mid_change_html#
					#equalizer_high_change_html#
					<!--h4>Veille</h4>
					<h4>Information</h4>
					<h4>Bluetooth</h4>
					#link_audio_quality_state#<br/>
					#link_audio_delay_state#<br/>
					#link_control_state#<br/>
					#audio_error#<br/>
					#netusb_play_queue_type#<br/-->
				</div>
			</div>
			<div class="panelBotton">
				<a class="nav-item nav-link btn" onclick="backClic#id#();">
					<i class="fas fa-arrow-left"></i>
					<h5>Retour</h5>
				</a>
				#volume_change_html#
				<a class="nav-item nav-link btn cmd btn-audio" href="##id#pp2" data-toggle="tab"
				   onclick="$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .btn-audio').css('display', 'none');$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .btn-back').css('display', 'table-cell');">
					<i class="fas fa-sliders-h"></i>
					<h5>Audio</h5>
				</a>
				<a class="nav-item nav-link btn cmd btn-back" href="##id#pp1" data-toggle="tab" style="display: none;"
				   onclick="$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .btn-back').css('display', 'none');$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .btn-audio').css('display', 'table-cell');">
					<i class="fas fa-sliders-h"></i>
					<h5>Back</h5>
				</a>
			</div>
		</div>
		<div class="panelBox displayoff">
			<ul class="nav nav-pills mb-5 nav-justified" id="displayoff-menu-#id#" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="pills-input-tab-#id#" data-toggle="pill" href="##id#input" role="tab" aria-controls="pills-input" aria-selected="true"><i class="fas fa-sign-in-alt"></i><h2>Input</h2></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-playlist-tab-#id#" data-toggle="pill" href="##id#playlist" role="tab" aria-controls="pills-playlist" aria-selected="false"><i class="fas fa-list-alt"></i><h2>Playlist</h2></a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" id="pills-preset-tab-#id#" data-toggle="pill" href="##id#preset" role="tab" aria-controls="pills-preset" aria-selected="false"><i class="fas fa-heart"></i><h2>Favoris</h2></a>
				</li>
				<li class="nav-item tunerpreset">
					<a class="nav-link" id="pills-tunerpreset-tab-#id#" data-toggle="pill" href="##id#tunerpreset" role="tab" aria-controls="pills-tunerpreset" aria-selected="false"><i class="fas fa-broadcast-tower"></i><h2>Tuner</h2></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-recent-tab-#id#" data-toggle="pill" href="##id#recent" role="tab" aria-controls="pills-recent" aria-selected="false"><i class="far fa-clock"></i><h2>Récent</h2></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-cogs-tab-#id#" data-toggle="pill" href="##id#cogs" role="tab" aria-controls="pills-cogs" aria-selected="false"><i class="fas fa-cogs"></i><h2>Config</h2></a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane input_list" id="#id#input" data-cmd_id="#input_id#"></div>
				<div class="tab-pane" id="#id#playlist"></div>
				<div class="tab-pane active" id="#id#preset" data-cmd_id="#netusb_recall_preset_list_id#">#netusb_recall_preset#</div>
				<div class="tab-pane tunerpreset" id="#id#tunerpreset" data-cmd_id="#tuner_recall_preset_list_id#">#tuner_recall_preset#</div>
				<div class="tab-pane" id="#id#recent" data-cmd_id="#netusb_recall_recent_list_id#">#netusb_recall_recent#</div>
				<div class="tab-pane" id="#id#cogs">
					<h4>Apparence</h4>
					<p>Nom de la pièce : #name_display#</p>
					#scene_change_html#
					<h4>Link</h4>
					#link_control_list_html#
					#link_audio_quality_list_html#
					#link_audio_delay_list_html#
					<h4>Appareil</h4>
					#system_reboot_html#
					#network_reboot_html#
				</div>
				<div class="tab-pane cmd" id="#id#link" data-cmd_id="#linked_list_id#" style="text-align: left;">
					<h4>Sélectionner les pièces à regrouper.</h4>
					#linked_list_html#
				</div>
			</div>
			<div class="panelBotton panelMusic">
				<div class="go-playlist btn" onclick="$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .displayoff').css('display', 'none'); $('.YamahaMusiccast[data-eqLogic_uid=#uid#] .playlist').css('display', 'block');">
					<div class="divInputPochette">
						<span class="cmd" data-cmd_id="#netusb_albumart_url_id#"><img class="pochette"/></span>
						<div class ="icon_input"></div>
					</div>
					<div class="divInputIcon">
					</div>
					<div class="one-line-defile">
						<strong class="cmd netusb_track" data-cmd_id="#netusb_track_id#"></strong>
						<strong class="cmd tuner_rds_radio_text_a tunerpreset" data-cmd_id="#tuner_rds_radio_text_a_id#"></strong>
					</div>
					<div class="one-line-defile artiste-album">
						<strong class="cmd netusb_artist" data-cmd_id="#netusb_artist_id#"></strong>
						<strong class="cmd netusb_album" data-cmd_id="#netusb_album_id#"></strong>
						<strong class="cmd tuner_rds_radio_text_b tunerpreset" data-cmd_id="#tuner_rds_radio_text_b_id#"></strong>
					</div>
				</div>
				<nav class="nav nav_playlist">
					<a class="nav-item nav-link btn cmd stop" data-type="action" data-cmd_id="#netusb_playback_stop_id#"
						onclick="jeedom.cmd.execute({id: #netusb_playback_stop_id#});">
						#netusb_playback_stop_icon#
						<h5>Stop</h5>
					</a>
					<a class="nav-item nav-link btn cmd pause play_pause" data-type="action" data-cmd_id="#netusb_playback_id#"
						onclick="jeedom.cmd.execute({id: #netusb_playback_play_pause_id#});">
						#netusb_playback_pause_icon#
						<h5>Pause</h5>
					</a>
					<a class="nav-item nav-link btn cmd play play_pause" data-type="action" data-cmd_id="#netusb_playback_id#"
						onclick="jeedom.cmd.execute({id: #netusb_playback_play_pause_id#});"
						style="display: none;">#netusb_playback_play_icon#
						<h5>Lecture</h5>
					</a>
				</nav>
			</div>
		</div>
	</div>
	<script src="plugins/YamahaMusiccast/core/template/js/static.js"></script>
	<script>
		var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
		// Affiche l'onglet favoris à l'affichage du widget.
		uid.find('#displayoff-menu-#id# li:nth-child(3) a').tab('show');

		if('#is_tuner#' != '1') {
			$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .tunerpreset').css('display', 'none');
		}

		function backClic#id#() {
			$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .displayoff').css('display', 'block');
			$('.YamahaMusiccast[data-eqLogic_uid=#uid#] .playlist').css('display', 'none');
		}

		function linkedClic#id#() {
			backClic#id#();
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			uid.find('#displayoff-menu-#id# .nav-item').removeClass('active');
		}

		function linked_valid#id#() {
			var valeurs = new Array();
			$('.YamahaMusiccast[data-eqLogic_uid=#uid#] input:checked[name=linked]').each(function(){
				var t = $(this).val();
				valeurs.push(t);
				console.log(t);
			})
			$.ajax({
				type: "POST",
				url: "plugins/YamahaMusiccast/core/ajax/YamahaMusiccast.ajax.php",
				data: {
					action: "linked",
					id: '#id#',
					ipList: valeurs.join(',')
				},
				global: false,
				dataType: 'json',
				error: function (request, status, error) {
					handleAjaxError(request, status, error);
				},
				success: function (data) {
					if (data.state != 'ok') {
						$('#div_alert').showAlert({message: data.result, level: 'danger'});
					}
				}
			});
		}

		jeedom.cmd.update['#input_change_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			if (_options.display_list !== '' && _options.display_list !== undefined) {
				var inputIconMap = getInputIconMap();
				var list = _options.display_list.split(";");
				var bottonList = '';
				for(i = 0; i < list.length; i++){
					var inputArray = list[i].split(/(?:→|\|)+/);
					var input = inputArray[0];
					var icon;
					var action = ""
					var isInputDirS = isInputDirSearch(input);
					if(isInputDirS) {
						action = 'searchDirlist#uid#(\'#id#\', null, \'' + input + '\');';
					} else {
						action = 'jeedom.cmd.execute({id: \'#input_change_id#\', value: {select: \'' + input + '\'}});';
					}
					if(inputIconMap.has(input)) {
						icon = inputIconMap.get(input)[4];
					} else {
						icon = '<img src="/plugins/YamahaMusiccast/data/input/' + input + '.png"/>';
					}
					bottonList +=	'<div class="nav-item nav-link" style="position:relative;">';

					bottonList +=		 '<a class="cmd cmd-widget btn" data-type="action" title="Selectionner « ' + inputArray[1] + ' »" '
											+ 'onclick="' + action + '">'
											+ icon
										+ '</a>';
					
					bottonList +=		'<h4>' + inputArray[1] + '</h4>'
									+ '</div>';
				}
				uid.find('##id#input').empty().append(bottonList);
			}
		}
		jeedom.cmd.update['#input_change_id#']({display_list:'#input_change_list#'});

		jeedom.cmd.update['#netusb_recall_recent_list_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			if (_options.display_value !== '' && _options.display_value !== undefined) {
				var inputIconMap = getInputIconMap();
				var list = _options.display_value.split(";");
				var bottonList = '<ul class="div_long_list">';
				for(i = 0; i < list.length; i++){
					var inputArray = list[i].split(/(?:→|\|)+/);
					var icon
					if(inputArray[4] !== undefined) {
						icon = '<img src="' + inputArray[3].replace('http://', 'https://').replace(':80/', '/') + '"/>';
					} else {
						icon = '<i class="fas fa-music"></i>';
					}
					bottonList += '<li><a class="nav-item nav-link cmd cmd-widget btn" data-type="action" onclick="jeedom.cmd.execute({id: \'#netusb_recall_recent_id#\', value: {select: \'' + inputArray[0] + '\'}});">' + icon + '<span>' + inputArray[2] + '</span></a></li>'
				}
				bottonList += '</ul>';
				uid.find('##id#recent').empty().append(bottonList);
			} else {
				uid.find('##id#recent').empty().append("Votre liste est vide");
			}
		}
		jeedom.cmd.update['#netusb_recall_recent_list_id#']({display_value:'#netusb_recall_recent_list#'});

		jeedom.cmd.update['#linked_list_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			if (_options.display_value !== '' && _options.display_value !== undefined) {
				var inputIconMap = getInputIconMap();
				var list = _options.display_value.split(";");
				var bottonList = '<fieldset><legend>Sélectionnez les pièces à grouper</legend>';
				for(i = 0; i < list.length; i++){
					var inputArray = list[i].split(/(?:→|\|)+/);
					var groupOther = "";
					if(inputArray[2] == "disabled") {
						groupOther = "  " + inputArray[3];
					}
					bottonList += '<div><label><input type="checkbox" '+ inputArray[2] +' name="linked" value="' + inputArray[0] +'">'+ inputArray[1] + groupOther + '</label></div>';
				}
				bottonList += '<input type="button" value="Valider" onclick="linked_valid#id#()"/>';
				bottonList += '</fieldset>';
				uid.find('##id#link').empty().append(bottonList);
			} else {
				uid.find('##id#link').empty().append("Votre liste est vide");
			}
		}
		jeedom.cmd.update['#linked_list_id#']({display_value:'#linked_list#'});

		jeedom.cmd.update['#netusb_recall_preset_list_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			if (_options.display_value !== '' && _options.display_value !== undefined) {
				var inputIconMap = getInputIconMap();
				var list = _options.display_value.split(";");
				var bottonList = '<ul class="div_long_list">';
				for(i = 0; i < list.length; i++){
					var inputArray = list[i].split(/(?:→|\|)+/);
					var icon;
					if(inputIconMap.has(inputArray[1])) {
						icon = inputIconMap.get(inputArray[1])[4];
					} else {
						var url = '/plugins/YamahaMusiccast/data/input/' + inputArray[1] + '.png';
						icon = '<img src="' + url + '"/>';
					}
					bottonList += '<li><a class="nav-item nav-link cmd cmd-widget btn" data-type="action" onclick="jeedom.cmd.execute({id: \'#netusb_recall_preset_id#\', value: {select: \'' + inputArray[0] + '\'}});">' + icon + '<span>' + inputArray[2] + '</span></a></li>'
				}
				bottonList += '</ul>';
				uid.find('##id#preset').empty().append(bottonList);
			} else {
				uid.find('##id#preset').empty().append("Votre liste est vide");
			}
		}
		jeedom.cmd.update['#netusb_recall_preset_list_id#']({display_value:'#netusb_recall_preset_list#'});

		jeedom.cmd.update['#tuner_recall_preset_list_id#'] = function(_options){
			if('#is_tuner#' == '1') {
				var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
				if (_options.display_value !== '' && _options.display_value !== undefined) {
					var inputIconMap = getInputIconMap();
					var list = _options.display_value.split(";");
					var bottonList = '<ul class="div_long_list">';
					for(i = 0; i < list.length; i++){
						var inputArray = list[i].split(/(?:→|\|)+/);
						bottonList += '<li><a class="nav-item nav-link cmd cmd-widget btn" data-type="action" onclick="jeedom.cmd.execute({id: \'#tuner_recall_preset_id#\', value: {select: \'' + inputArray[0] + '\'}});"><i class="fas fa-broadcast-tower"></i><span>' + inputArray[1] + ' - ' + inputArray[2] + '</span></a></li>'
					}
					bottonList += '</ul>';
					uid.find('##id#tunerpreset').empty().append(bottonList);
				} else {
					uid.find('##id#tunerpreset').empty().append("Votre liste est vide");
				}
			} else {
				
			}
		}
		jeedom.cmd.update['#tuner_recall_preset_list_id#']({display_value:'#tuner_recall_preset_list#'});


		jeedom.cmd.update['#distribution_enable_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			if(_options.display_value === '1') {
				uid.find('.cmd-link i').css('display', 'block');
			} else {
				uid.find('.cmd-link i').css('display', 'none');
			}
		}
		jeedom.cmd.update['#distribution_enable_id#']({display_value:'#distribution_enable#'});


		function changeBottomPanelMusic(uid, open) {
			if(open) {
				uid.find('.displayoff .panelMusic').css('display', 'block');
				uid.find('.displayoff .tab-content')[0].style.setProperty('height', '212px', 'important');
				uid.find('.cmd-link').css('display', 'block');
				uid.find('.playlist').css('display', 'block');
			} else {
				uid.find('.displayoff .panelMusic').css('display', 'none');
				uid.find('.displayoff .tab-content').css('height', '100%');
				uid.find('.cmd-link').css('display', 'none');
				uid.find('.playlist').css('display', 'none');
			}
		}

		jeedom.cmd.update['#power_state_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			var searchDirlist = document.getElementById('searchDirlist#uid#');

			if (_options.display_value === 'unreachable') {
				uid.find('.unreachable').css('display', 'block');
				uid.find('a[data-cmd_id=#power_state_id#]').css('display', 'none');
				uid.find('.displayoff').css('display', 'none');
				changeBottomPanelMusic(uid, false);
			} else {
				if(uid.find('.dirlist').css('display') !== "none"){
					// uid.find('.dirlist').css('display', 'none');
				}
				uid.find('.unreachable').css('display', 'none');
				uid.find('a[data-cmd_id=#power_state_id#]').css('display', 'block');
				if (_options.display_value === 'on') {
					changeBottomPanelMusic(uid, true);
					uid.find('a[data-cmd_id=#power_state_id#]').off('click').on('click', function () {
						jeedom.cmd.execute({id: '#power_off_id#'});
					});
					uid.find('.displayoff').css('display', 'none');
				} else {
					uid.find('.displayoff').css('display', 'block');
					uid.find('a[data-cmd_id=#power_state_id#]').off('click').on('click', function () {
						jeedom.cmd.execute({id: '#power_on_id#'});
					});
					changeBottomPanelMusic(uid, false);
				}
			}
		}
		jeedom.cmd.update['#power_state_id#']({display_value:'#power_state#'});
		jeedom.cmd.update['#netusb_playback_id#'] = function(_options){
			$("##uid#_play_stop").val(_options.display_value);
			navigateButton("#uid#", "#id#");
		}
		jeedom.cmd.update['#netusb_playback_id#']({display_value:'#netusb_playback#'});
		jeedom.cmd.update['#mute_state_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			if (_options.display_value == '1') {
				uid.find('a[data-cmd_id=#mute_state_id#]').off('click').on('click', function () {
				jeedom.cmd.execute({id: '#mute_off_id#'});
			});
			} else {
				uid.find('a[data-cmd_id=#mute_state_id#]').off('click').on('click', function () {
					jeedom.cmd.execute({id: '#mute_on_id#'});
				});
			}
		}
		jeedom.cmd.update['#mute_state_id#']({display_value:'#mute_state#'});
		jeedom.cmd.update['#netusb_albumart_url_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			uid.find('.pochette').attr('src', _options.display_value);
		}
		jeedom.cmd.update['#netusb_albumart_url_id#']({display_value:'#netusb_albumart_url#'});
		jeedom.cmd.update['#netusb_track_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			uid.find('.netusb_track').empty().append(_options.display_value);
		}
		jeedom.cmd.update['#netusb_track_id#']({display_value:'#netusb_track#'});
		jeedom.cmd.update['#netusb_artist_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			uid.find('.netusb_artist').empty().append(_options.display_value);
		}
		jeedom.cmd.update['#netusb_artist_id#']({display_value:'#netusb_artist#'});
		jeedom.cmd.update['#netusb_album_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			uid.find('.netusb_album').empty()
			if(_options.display_value !== '') {
				uid.find('.netusb_album').append(' - ').append(_options.display_value);
			}
			
		}
		jeedom.cmd.update['#tuner_rds_radio_text_a_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			uid.find('.tuner_rds_radio_text_a').empty().append(_options.display_value);
		}
		jeedom.cmd.update['#tuner_rds_radio_text_a_id#']({display_value:'#tuner_rds_radio_text_a#'});
		jeedom.cmd.update['#tuner_rds_radio_text_b_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			uid.find('.tuner_rds_radio_text_b').empty().append(_options.display_value);
		}
		jeedom.cmd.update['#tuner_rds_radio_text_b_id#']({display_value:'#tuner_rds_radio_text_b#'});
		
		jeedom.cmd.update['#netusb_album_id#']({display_value:'#netusb_album#'});
		jeedom.cmd.update['#group_name_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			uid.find('.group_name').empty().append(_options.display_value);
		}
		jeedom.cmd.update['#group_name_id#']({display_value:'#group_name#'});
		jeedom.cmd.update['#audio_format_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			uid.find('.audio_format').empty().append(_options.display_value);
		}
		jeedom.cmd.update['#audio_format_id#']({display_value:'#audio_format#'});
		jeedom.cmd.update['#audio_fs_id#'] = function(_options){
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			audio_fs = uid.find('.audio_fs')
			audio_fs.empty();
			if(_options.display_value !== '---') {
				audio_fs.append(' - ').append(_options.display_value);
			}
		}
		jeedom.cmd.update['#audio_fs_id#']({display_value:'#audio_fs#'});
			$(".cmd[data-cmd_uid=#uid#] .selectCmd").on('change', function () {
			jeedom.cmd.execute({id: '#id#', value: {select: $(this).value()}});
		});
		jeedom.cmd.update['#input_id#'] = function(_options) {
			$("##uid#_input").val(_options.display_value);
			navigateButton("#uid#", "#id#");
		}
		jeedom.cmd.update['#input_id#']({display_value:'#input#'});

		function searchDirlist#uid#(id, index, input, type, text) {
			$.ajax({
				type: "POST",
				url: "plugins/YamahaMusiccast/core/ajax/YamahaMusiccast.ajax.php",
				data: {
					"action": "searchDirlist",
					"id": id,
					"index": index,
					"input": input,
					"type": type,
					"text": text
				},
				global: false,
				dataType: 'json',
				error: function (request, status, error) {
					handleAjaxError(request, status, error);
				},
				success: function (data) {
					var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
					var text = "<h4 style='text-align:center;'>";
					if(data.result['menu_layer'] > 0) {
						text += '<a class="cmd cmd-widget pull-left" onclick="searchDirlist#uid#(' + id + ', ' + i + ', \'' + input + '\', \'return\', null)"><i class="fa fa-chevron-left"></i></a>';
					}
					text += data.result['menu_name'];
					text += '<a class="cmd cmd-widget pull-right" onclick="closeDirlist#uid#();"><i class="fas fa-times"></i></a>';
					text += "</h4>";
					text += '<div id="searchDirlist#uid#" style="height: 280px;overflow: auto;margin-top:5px;">';
					if(data.result['max_line'] == 0) {
						text += "La liste est vide";
					} else {
						text += '<ul class="div_long_list">';
						var icon;
						var action;
						var texts;
						var subtexts;
						var i = 0;
						for(; i < data.result['list_info'].length; i++){
							var item = data.result['list_info'][i];
							texts = item['text'];
							switch (item['attribute']) {
								case 2:
								case 1048594:
								case 125829122:
								case 130056214:
									icon = '<i class="fas fa-folder"></i>';
									action = 'onclick="searchDirlist#uid#(' + id + ', ' + i + ', \'' + input + '\', \'select\', null)"';
									break;
								case 125829124:
									icon = '<i class="fas fa-music"></i>';
									action = 'onclick="playDirlist#uid#(' + id + ', ' + i + ', \'' + input + '\')"';
									break;
								case 10:
									icon = '<i class="fas fa-search"></i>';
									texts = '<input type="text" placeholder="' + texts + '" onkeypress="searchonkeypress#uid#(' + id + ', ' + i + ', \'' + input + '\')"/>';
									action = '';
									break;
								case 82:
								case 84:
								case 148:
								case 1044:
								case 125829398:
								case 125829268:
									icon = '<img src="' + item['thumbnail'] + '"/>'; //.replace('http://','https://')
									action = 'onclick="playDirlist#uid#(' + id + ', ' + i + ', \'' + input + '\')"';
									texts += "<br/>" + item['logo'];
									if(item['subtexts'].length != 0) {
										texts += item['subtexts'][0];

									  if(item['subtexts'].length != 1) {
										  texts += " - " +  item['subtexts'][1];
									  }
									}
									break;
								default:
									icon = '<i class="icon divers-vlc1" title="Veuillez mettre une icon pour l’attribute : ' + item['attribute'] + '"></i>';
									action = '';
							}
							if(item['thumbnail'] !== undefined && item['thumbnail'] !== "") {
								icon = '<img src="' + item['thumbnail'] + '" style="min-width: 32px; max-height: 32px;background-color:white;"/>';
							}
							text += '<li><a class="nav-item nav-link cmd cmd-widget btn" ' + action + '>' + icon + '<span>' + texts + '</span></a></li>';
						}
						if(i < data.result['max_line']) {
							text += '<li><a class="nav-item nav-link cmd cmd-widget btn">...</a></li>';
						}
						text += "</ul>";
					}
					text += "</div>";
					uid.find('.displayoff').css('display', 'none');
					uid.find('.playlist').css('display', 'none');
					uid.find('.unreachable').css('display', 'none');
					uid.find('.dirlist').empty().append(text);
					uid.find('.dirlist').css('display', 'block');
					if(i < data.result['max_line']) {
						var searchDirlist#uid# = document.getElementById('searchDirlist#uid#');
						searchDirlist#uid#.addEventListener("scroll", (event) => {
							let scroll = this.scrollY;
							console.log(scroll)
						});
					}
				}
			});
		}

		function searchonkeypress#uid#(id, i, input) {
			var code = (event.keyCode ? event.keyCode : event.which);
			if (code == 13) { //Enter keycode
				event.preventDefault();
				//Specifies list ID. If nothing specified, "main" is chosen implicitly
				//	Values :	"main" (All)
				//				"auto_complete" (Pandora)
				//				"search_artist" (Pandora)
				//				"search_track" (Pandora)
				searchDirlist#uid#(id, i, input, "main", event.currentTarget.value);
			}
		}

		function playDirlist#uid#(id, index, input) {
			$.ajax({
				type: "POST",
				url: "plugins/YamahaMusiccast/core/ajax/YamahaMusiccast.ajax.php",
				data: {
					"action": "playDirlist",
					"id": id,
					"index": index,
					"input": input
				},
				global: false,
				dataType: 'json',
				error: function (request, status, error) {
					handleAjaxError(request, status, error);
				},
				success: function (data) {
//					alert('Play');
				}
			});
		}

		function closeDirlist#uid#() {
			var uid = $('.YamahaMusiccast[data-eqLogic_uid=#uid#]');
			uid.find('.dirlist').css('display', 'none');
			uid.find('.displayoff').css('display', 'block');
			
		}

		function playlist#uid#(id, index) {
			$.ajax({
				type: "POST",
				url: "plugins/YamahaMusiccast/core/ajax/YamahaMusiccast.ajax.php",
				data: {
					"action": "searchPlaylist",
					"id": id,
					"index": index
				},
				global: false,
				dataType: 'json',
				error: function (request, status, error) {
					handleAjaxError(request, status, error);
				},
				success: function (data) {
					$('##id#playlist').empty().append(data.result);
				}
			});
		}

		playlist#uid#('#id#', null);
	</script>
</div>