matrix:
  include:
    - language: php
      php: 7.1
      install:
       - composer install
       - mkdir -p build/logs
      before_script:
        - find . -type f -name *.php -not -path "./vendor/*" | xargs -n1 php -l
      script:
       - cd ${TRAVIS_BUILD_DIR}
       - ./tests/launch_tests.sh
      after_script:
       - sed -i'' 's/tests\/mocked_Jeedom_env\/plugins\/YamahaMusiccast\///g' clover.xml
       - php vendor/bin/php-coveralls
    - language: python
      python: 2.7
      install:
        - pip install pylint
      script:
        - cd ${TRAVIS_BUILD_DIR}
        - ./tests/tools/lintAllPythonFiles.sh
    - language: markdown
      addons:
        apt:
          packages:
            - aspell
            - aspell-fr
      script:
        - gem install mdl
        - cd ${TRAVIS_BUILD_DIR}
        - ./tests/tools/setCustomMDWarnings.sh
        - mdl -r $MDLWAR *.md docs/fr_FR/*.md
        - ./tests/tools/spellCheckMD.sh
