.YamahaMusiccast .display,.YamahaMusiccast .displayoff {
	position: relative;
	height: inherit;
	overflow: auto;
}

.YamahaMusiccast .center {
	text-align: center;
}

.YamahaMusiccast .display .visual {
	position: relative;
}

.YamahaMusiccast .display .pochette {
	height: 120px;
	margin: 5px;
	border-radius: 10%;
}

.YamahaMusiccast .display .pochette_input, .YamahaMusiccast .audio_format {
	position: absolute;
	top: 110px;

}
.YamahaMusiccast .display .pochette_input {
	left: 175px;
	height: 20px;
	border-radius: 5%;
}

.YamahaMusiccast .audio_format {
	left: 55px;
	border-radius: 10%;
	padding: 0 2px;
	background-color: gainsboro;
	font-size: xx-small;
}

.YamahaMusiccast .btn {
	float:left;
	padding: 4px 4px;
}

.YamahaMusiccast .name {
	writing-mode: vertical-lr;
	height: 100%;
	float: right;
	text-align: center;
	background-color: #ffffff20;
}

.YamahaMusiccast .name span {
	cursor: default;
	line-height:28px;
}

.volume_range {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.volume_range:hover {
  opacity: 1;
}

.volume_range::-webkit-slider-thumb {
	-webkit-appearance: none;
}
.volume_range::-webkit-slider-thumb, .volume_range::-moz-range-thumb  {
	width: 15px;
	height: 15px;
	border: 0;
	cursor: pointer;
	background-color: black;
}

.one-line-defile {
	white-space: nowrap;
	-webkit-animation:linear marqueelike 20s infinite ;
	-moz-animation:linear marqueelike 20s infinite ;
	-o-animation:linear marqueelike 20s infinite ;
	-ms-animation:linear marqueelike 20s infinite ;
	animation:linear marqueelike 20s infinite ;
}

.artiste-album {
	font-size :0.9em;
}