.YamahaMusiccast .zone {
	border: 1px solid black;
	height: 150px;
}

.YamahaMusiccast .zone .display,.YamahaMusiccast .zone .displayoff {
	height: inherit;
	overflow: auto;
}
.YamahaMusiccast .zone .center {
	text-align: center;
}

.YamahaMusiccast .zone .display .pochette {
	height: 80px;
	margin: 5px;
	border-radius: 10%;
}

.YamahaMusiccast .zone .display .pochette_input {
	height: 20px;
	border-radius: 5%;
}

.YamahaMusiccast .zone .name {
	writing-mode: vertical-lr;
	height: 100%;
	float: right;
	text-align: center;
	background-color: gainsboro;
}

.YamahaMusiccast .zone .audio_format {
	background-color: gainsboro;
}