.YamahaMusiccast .zone {
	border: 1px solid black;
	height: 150px;
}

.YamahaMusiccast .zone .display,.YamahaMusiccast .zone .displayoff {
	position: relative;
	height: inherit;
	overflow: auto;
}
.YamahaMusiccast .zone .center {
	text-align: center;
}

.YamahaMusiccast .zone .display .pochette {
	height: 80px;
	margin: 5px;
	border-radius: 10%;
}

.YamahaMusiccast .zone .display .pochette_input {
	position: absolute;
	top: 70px;
	left: 70px;
	height: 20px;
	border-radius: 5%;
}

.YamahaMusiccast .zone .name {
	writing-mode: vertical-lr;
	height: 100%;
	float: right;
	text-align: center;
	background-color: gainsboro;
}

.YamahaMusiccast .zone .audio_format {
	position: absolute;
	top: 75px;
	left: 2px;
	border-radius: 10%;
	padding: 0 2px;
	background-color: gainsboro;
	font-size: xx-small;
}