.YamahaMusiccast .btn  i{
	margin-right:0 !important;
}

.YamahaMusiccast .panelBox {
	position: relative;
	height: inherit;
	overflow: auto;
	padding: 0px 10px;
}

.YamahaMusiccast .playlist {
	text-align: center;
}

.YamahaMusiccast .playlist .visual {
	position: relative;
}

.YamahaMusiccast .playlist .pochette {
	width: 80%;
	margin: 5px;
	border-radius: 10%;
}

.YamahaMusiccast .playlist .pochette_input, .YamahaMusiccast .audio_format {
	position: absolute;
	top: 90%;

}
.YamahaMusiccast .playlist .pochette_input {
	left: 85%;
	height: 20px;
	border-radius: 5%;
}

.YamahaMusiccast .audio_format {
	left: 5%;
	border-radius: 10%;
	padding: 0 2px;
	background-color: gainsboro;
	font-size: xx-small;
}

.YamahaMusiccast .btn {
	float:left;
	padding: 4px 4px;
}

.YamahaMusiccast .name {
	writing-mode: vertical-lr;
	height: 100%;
	float: right;
	text-align: center;
	background-color: #ffffff20;
}

.YamahaMusiccast .name span {
	cursor: default;
	line-height:28px;
}

.YamahaMusiccast .volume_range {
	margin: 7px;
	-webkit-appearance: none;
	width: 65% !important;
	height: 10px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.YamahaMusiccast .volume_range:hover {
  opacity: 1;
}

.YamahaMusiccast .volume_range::-webkit-slider-thumb {
	-webkit-appearance: none;
}
.YamahaMusiccast .volume_range::-webkit-slider-thumb, .volume_range::-moz-range-thumb  {
	width: 15px;
	height: 15px;
	border: 0;
	cursor: pointer;
	background-color: black;
}

.YamahaMusiccast .one-line-defile {
	white-space: nowrap;
	-webkit-animation:linear marqueelike 20s infinite ;
	-moz-animation:linear marqueelike 20s infinite ;
	-o-animation:linear marqueelike 20s infinite ;
	-ms-animation:linear marqueelike 20s infinite ;
	animation:linear marqueelike 20s infinite ;
}

.YamahaMusiccast .artiste-album {
	font-size :0.9em;
}